<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.auth.mapper.MenuMapper">

    <select id="findUserPermissions" resultType="com.caoyuqian.auth.entity.Menu">
        select distinct m.perms
        from role r
                 left join user_role ur on (r.role_id = ur.role_id)
                 left join user u on (u.user_id = ur.user_id)
                 left join role_menu rm on (rm.role_id = r.role_id)
                 left join menu m on (m.menu_id = rm.menu_id)
        where u.user_name = #{userName}
          and m.perms is not null
          and m.perms &lt;&gt; ''
    </select>
</mapper>