<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.blog.mapper.CategoryMapper">
    <resultMap id="cate" type="com.caoyuqian.blog.pojo.Category">
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="fatherId" column="father_id"/>
    </resultMap>
    <insert id="saveCategories" parameterType="List"  >
        insert into category(category_id,category_name,father_id) values
              <foreach collection="categories" item="category"  separator=",">
                  (#{category.categoryId},#{category.categoryName},#{category.fatherId})
              </foreach>
    </insert>
    <insert id="saveCategory" useGeneratedKeys="true"  parameterType="com.caoyuqian.blog.pojo.Category">
       insert into category(category_id,category_name,father_id)
       values (#{category.categoryId},#{category.categoryName},#{category.fatherId})
    </insert>
    <select id="getCountByName" parameterType="String" resultType="int">
        select count(*) from category where category_name=#{category_name}
    </select>
    <select id="getCategoryByName" parameterType="String" resultMap="cate">
        select category_id,category_name,father_id from category where category_name=#{category_name}
    </select>
    <update id="updateCategoryFatherId" parameterType="com.caoyuqian.blog.pojo.Category" >
        update category set
        father_id=#{category.fatherId}
        where category_id=#{category.categoryId}
    </update>
</mapper>