<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.blog.mapper.DeviceMapper">
    <resultMap id="device" type="com.caoyuqian.blog.pojo.Device">
        <result property="id" column="id"/>
        <result property="ip" column="ip"/>
        <result property="city" column="city"/>
        <result property="deviceManufacturer" column="device_manufacturer"/>
        <result property="deviceType" column="device_type"/>
        <result property="os" column="os"/>
        <result property="osName" column="os_name"/>
        <result property="osVersion" column="os_version"/>
        <result property="borderGroup" column="border_group"/>
        <result property="borderName" column="border_name"/>
        <result property="borderType" column="border_type"/>
        <result property="browserManufacturer" column="browser_manufacturer"/>
        <result property="browserVersion" column="browser_version"/>
        <result property="browserEngine" column="browser_engine"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>
    <insert id="saveDevice" parameterType="com.caoyuqian.blog.pojo.Device">
        replace into device(id, ip, city, device_manufacturer, device_type, os, os_name, os_version, border_group,
                            border_name,
                            border_type, browser_manufacturer, browser_version, browser_engine,created_time)
        values (#{device.id}, #{device.ip}, #{device.city}, #{device.deviceManufacturer}, #{device.deviceType},
                #{device.os}, #{device.osName},
                #{device.osVersion}, #{device.borderGroup},
                #{device.borderName}, #{device.borderType}, #{device.browserManufacturer}, #{device.browserVersion},
                #{device.browserEngine},#{device.createdTime})
    </insert>
    <select id="getDevices" resultMap="device">
        select id,
               ip,
               city,
               device_manufacturer,
               device_type,
               os,
               os_name,
               os_version,
               border_group,
               border_name,
               border_type,
               browser_manufacturer,
               browser_version,
               browser_engine,
               created_time
        from device
    </select>
    <select id="isExistDevice" parameterType="com.caoyuqian.blog.pojo.Device" resultType="int">
        select count(1)
        from device
        where ip = #{device.ip}
          and
            city = #{device.city}
          and
            device_manufacturer = #{device.deviceManufacturer}
          and
            device_type = #{device.deviceType}
          and
            os = #{device.os}
          and
            os_name = #{device.osName}
          and
            os_version = #{device.osVersion}
          and
            border_group = #{device.borderGroup}
          and
            border_name = #{device.borderName}
          and
            border_type = #{device.borderType}
          and
            browser_manufacturer = #{device.browserManufacturer}
          and
            browser_version = #{device.browserVersion}
          and
            browser_engine = #{device.browserEngine}
    </select>
</mapper>