<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.blog.mapper.PostMapper">
    <resultMap id="post" type="com.caoyuqian.blog.pojo.Post">
        <result property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="path" column="path"/>
        <result property="publicDate" column="public_date"/>
        <result property="editDate" column="edit_date"/>
        <collection property="tags" ofType="com.caoyuqian.blog.pojo.Tag">
            <result property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
        <collection property="categories" ofType="com.caoyuqian.blog.pojo.Category">
            <result property="categoryId" column="category_id"/>
            <result property="categoryName" column="category_name"/>
            <result property="fatherId" column="father_id"/>
        </collection>
    </resultMap>
    <resultMap id="posts" type="com.caoyuqian.blog.pojo.Post">
        <result property="postId" column="post_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="path" column="path"/>
        <result property="publicDate" column="public_date"/>
        <result property="editDate" column="edit_date"/>
        <collection property="tags" ofType="com.caoyuqian.blog.pojo.Tag"
                    select="getTagById" column="post_id">

        </collection>
        <collection property="categories" ofType="com.caoyuqian.blog.pojo.Category"
                    select="getCategoryById" column="post_id">

        </collection>
    </resultMap>
    <resultMap id="tag" type="com.caoyuqian.blog.pojo.Tag">
        <result property="tagId" column="tag_id"/>
        <result property="tagName" column="tag_name"/>
    </resultMap>
    <resultMap id="category" type="com.caoyuqian.blog.pojo.Category">
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="fatherId" column="father_id"/>
    </resultMap>

    <select id="getTagById" resultMap="tag" parameterType="string">
        select tag.tag_id,tag.tag_name
        from tag,post_tag,post
        where  post.post_id=post_tag.post_id and tag.tag_id=post_tag.tag_id and post.post_id=#{post_id}
    </select>
    <select id="getCategoryById" resultMap="category" parameterType="string">
        select category.category_id,category.category_name,category.father_id
        from category,post_category,post
        where  post.post_id=post_category.post_id
          and category.category_id=post_category.category_id and post.post_id=#{post_id}
    </select>
    <insert id="savePost" parameterType="com.caoyuqian.blog.pojo.Post">
        insert into post(post_id,title,content,path,public_date,edit_date)
         values (#{post.postId},#{post.title},#{post.content},#{post.path},#{post.publicDate},#{post.editDate})
    </insert>
    <insert id="savePostTags" parameterType="com.caoyuqian.blog.pojo.Post" useGeneratedKeys="true" keyProperty="id">
        insert into post_tag (post_id,tag_id) values
            <foreach collection="post.tags" index="index" separator="," item="tag">
                (#{post.postId},#{tag.tagId})
            </foreach>
    </insert>
    <insert id="savePostCategories" parameterType="com.caoyuqian.blog.pojo.Post" keyProperty="id" useGeneratedKeys="true">
        insert into post_category (post_id,category_id) values
        <foreach collection="post.categories" index="index" separator="," item="category">
            (#{post.postId},#{category.categoryId})
        </foreach>
    </insert>
    <select id="getPost" resultMap="posts">
        select post.post_id ,post.title,post.content,post.path,post.public_date,post.edit_date
        from post
        where post.post_id!='20180315185058'
        order by post.public_date desc
    </select>
    <select id="getPostById" parameterType="String" resultMap="post">
        select post.post_id,post.title,post.content,post.path,post.public_date,post.edit_date,
               category.category_id,category.category_name,category.father_id,
               tag.tag_id,tag.tag_name
        from post,tag,category,post_tag,post_category
        where post.post_id=post_tag.post_id and post.post_id=post_category.post_id and
              tag.tag_id=post_tag.tag_id and category.category_id=post_category.category_id
              and post.post_id=#{post_id}
    </select>
    <select id="getPostsByTag" parameterType="long" resultMap="post">
        select post.post_id,post.title,post.content,post.path,post.public_date,post.edit_date,
               category.category_id,category.category_name,category.father_id,
               tag.tag_id,tag.tag_name
        from post,tag,category,post_tag,post_category
        where post.post_id=post_tag.post_id and post.post_id=post_category.post_id and
              tag.tag_id=post_tag.tag_id and category.category_id=post_category.category_id
          and tag.tag_id=#{tag_id}
    </select>
    <select id="getPostsByCate" parameterType="long" resultMap="post">
        select post.post_id,post.title,post.content,post.path,post.public_date,post.edit_date,
               category.category_id,category.category_name,category.father_id,
               tag.tag_id,tag.tag_name
        from post,tag,category,post_tag,post_category
        where post.post_id=post_tag.post_id and post.post_id=post_category.post_id and
              tag.tag_id=post_tag.tag_id and category.category_id=post_category.category_id
          and category.category_id=#{category_id}
    </select>
    <select id="about" parameterType="String" resultMap="post">
        select post_id,title,content,path,public_date,edit_date from post
        where post_id=#{post_id}
    </select>
    <select id="getCountByTitile" parameterType="String" resultType="int">
        select count(1) from post where title=#{title}
    </select>
    <select id="getCountById" parameterType="String" resultType="int">
        select count(1) from post where post_id=#{post_id}
    </select>
    <select id="isExistsPostTag" parameterType="com.caoyuqian.blog.pojo.Post" resultType="int">
        select count(1) from post_tag where post_id=#{post.postId} and tag_id in
          <foreach collection="post.tags" item="tag" separator="," index="index" open="(" close=")">
              #{tag.tagId}
          </foreach>
    </select>
    <select id="isExistsPostCate" parameterType="com.caoyuqian.blog.pojo.Post" resultType="int">
        select count(1) from post_category where post_id=#{post.postId} and category_id in
        <foreach collection="post.categories" item="cate" separator="," index="index" open="(" close=")">
            #{cate.categoryId}
        </foreach>
    </select>
</mapper>