<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.blog.mapper.SettingMapper">
    <resultMap id="setting" type="com.caoyuqian.blog.pojo.Setting">
        <result column="id" property="id"/>
        <result column="avatar" property="avatar"/>
        <result column="motto" property="motto"/>
        <result column="introduction" property="introduction"/>
        <result column="blog_name" property="blogName"/>
        <result column="start_year" property="startYear"/>
        <result column="end_year" property="endYear"/>
    </resultMap>
    <insert id="saveSetting" parameterType="com.caoyuqian.blog.pojo.Setting">
        insert into setting(id, avatar, motto, introduction, blog_name, start_year, end_year)
        values (#{setting.id}, #{setting.avatar}, #{setting.motto}, #{setting.introduction},
                #{setting.blogName},#{setting.startYear},#{setting.endYear})
    </insert>
    <select id="getSettingBySettingId" resultMap="setting" parameterType="long">
        select id,avatar,motto,introduction,blog_name,start_year,end_year
        from setting
        where
            id = #{settingId}
    </select>
    <update id="updateSetting" parameterType="com.caoyuqian.blog.pojo.Setting">
        update setting
        <set>
            <if test="setting.avatar!=null and setting.avatar!=''">avatar=#{setting.avatar},</if>
            <if test="setting.motto!=null and setting.motto!=''">motto=#{setting.motto},</if>
            <if test="setting.introduction!=null and setting.introduction!=''">introduction=#{setting.introduction},</if>
            <if test="setting.blogName!=null and setting.blogName!=''">blog_name=#{setting.blogName},</if>
            <if test="setting.startYear!=null and setting.startYear!= ''">start_year=#{setting.startYear},</if>
            <if test="setting.endYear!=null and setting.endYear!=''">end_year=#{setting.endYear}</if>
        </set>
        where id=#{setting.id}
    </update>
</mapper>