<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.blog.mapper.UserMapper">

    <resultMap id="userMap" type="com.caoyuqian.blog.pojo.SysUser">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password" />
        <result column="email" property="email"/>
        <result column="create_date" property="createDate"/>
        <result column="last_login_date" property="lastLoginDate"/>
        <association property="setting" column="user_id" select="com.caoyuqian.blog.mapper.SettingMapper.getSettingByUserId"/>
        <collection property="roles" ofType="com.caoyuqian.blog.pojo.Role">
            <result property="roleName" column="role_name"/>
        </collection>
    </resultMap>

    <select  id="test" resultType="int">
        select count(*) from user
    </select>
    <select id="getUserById" resultMap="userMap" parameterType="String">
        select  user.user_id,user.user_name,user.password,user.email,
                user.create_date,user.last_login_date,
                role.role_name from user
            left join role_user on user.user_id=role_user.user_id
            left join role on role.role_id=role_user.role_id
        where user.user_id=#{user_id};
    </select>
    <insert id="register" parameterType="com.caoyuqian.blog.pojo.SysUser">
        insert into user(user_id,user_name,password,email,create_date,last_login_date)
        values (#{user.userId},#{user.userName},#{user.password},#{user.email},#{user.createDate},#{user.lastLoginDate})
    </insert>
    <insert id="saveRoleUser" parameterType="String" useGeneratedKeys="true" keyProperty="id">
        insert into role_user (user_id,role_id)
        values (#{user_id},1);
    </insert>
</mapper>