<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caoyuqian.blog.mapper.UserMapper">

    <resultMap id="userMap" type="com.caoyuqian.blog.pojo.SysUser">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="create_date" property="createDate"/>
        <result column="last_login_date" property="lastLoginDate"/>
        <result column="setting_id" property="settingId"/>
        <result column="QQ" property="QQ"/>
        <result column="weibo" property="weibo"/>
        <result column="github" property="github"/>
        <association property="setting" column="setting_id"
                     select="com.caoyuqian.blog.mapper.SettingMapper.getSettingBySettingId"/>
        <collection property="roles" ofType="com.caoyuqian.blog.pojo.Role">
            <result property="roleName" column="role_name"/>
        </collection>
    </resultMap>

    <select id="test" resultType="int">
        select count(*) from user
    </select>
    <select id="getUserById" resultMap="userMap" parameterType="String">
        select  user.user_id,user.user_name,user.password,user.email,user.QQ,user.weibo,user.github,
                user.create_date,user.last_login_date,user.setting_id,
                role.role_name from user
            left join role_user on user.user_id=role_user.user_id
            left join role on role.role_id=role_user.role_id
        where user.user_id=#{user_id};
    </select>
    <insert id="register" parameterType="com.caoyuqian.blog.pojo.SysUser">
        insert into user(user_id,user_name,password,email,create_date,last_login_date)
        values (#{user.userId},#{user.userName},#{user.password},#{user.email},#{user.createDate},#{user.lastLoginDate})
    </insert>
    <insert id="saveRoleUser" parameterType="String" useGeneratedKeys="true" keyProperty="id">
        insert into role_user (user_id,role_id)
        values (#{user_id},1);
    </insert>
    <update id="updateUser" parameterType="com.caoyuqian.blog.pojo.SysUser">
        update user
        <set>
            <if test="user.userName!=null and user.userName!=''">user_name = #{user.userName},</if>
            <if test="user.password!=null and user.password!=''">password = #{user.password},</if>
            <if test="user.email!=null and user.email!=''">email = #{user.email},</if>
            <if test="user.QQ!=null and user.QQ!=''">QQ = #{user.QQ},</if>
            <if test="user.weibo!=null and user.weibo!=''">weibo=#{user.weibo},</if>
            <if test="user.github!=null and user.github!=''">github=#{user.github},</if>
            <if test="user.settingId!=null and user.settingId!=0">setting_id = #{user.settingId}</if>
        </set>
        where user_id = #{user.userId}
    </update>
</mapper>